body {
    font-family: Lato, sans-serif !important;
}

.graphtitle {
    font-size: 18px;
    color: #333;
}

.subtitle {
    font-size: 15px;
}

.fullwidth {
    width: 100%;
}

.axis,
.axis-show {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
}

.axis-show path,
.axis-show line {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chartline {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
}

.point-label {
    font-size: 12px;
}

.bar {
    fill: #1696d2;
}

.annotate-shape {
    fill: none;
    stroke: #ec008b;
    stroke-width: 1.5px;
}

.annotation {
    font-size: 13px;
}

.axistitle {
    font-size: 13px;
    font-style: italic;
}

.hardship1_0 {
    stroke: black;
}

.hardship2_0 {
    stroke: purple;
}

.hardship3_0 {
    stroke: red;
}

.income1 {
    fill: #fdbf11;
}

.income2 {
    fill: #ccc;
}

.income3 {
    fill: #55b748;
}