
body{
	font-family: Lato;
}

.axis,
.axis-show {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
}

.axis-show path,
.axis-show line {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chartline {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
}

.point-label {
    font-size: 12px;
}